.meteo {
	height: 150px;
	padding: 1px;
	background: #39b54a;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-align:center;
	float: center;
}

.meteo-title1 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 50px;
}

.meteo-title2 {
	margin: 0;
	padding: 10px 0 0 0;
	font-size: 10px;
	font-weight: 20px;	
}

.meteo-p0 {
	margin: 0;
	padding: 0 0 0 0;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}

.meteo-p1 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}

.meteo-p2 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}

.meteo-p3 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}

.meteo-p4 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}
.meteo-p5 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}
.meteo-p6 {
	margin:-113px;
	padding: 0 0 0 300;
	font-size: 10px;
	font-weight: 350px;	
	width: 150px;
	height: 150px;
}

.meteo-icon {
	width: 40%;
	height: 40%;
}

h3 {
    font-size: 50px;
    text-align:center;
}
	
body{
	margin: 0; 
    height: 100%; 
    background: url(images/weather.jpg); 
    background-size: cover; 
   
}

#action_form {
        text-align:center;
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
 }

